* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'gabarito', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;

}

.navbar__s1-title {
    color: rgb(185, 6, 185);
}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}

.navbar__s2 input {
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;

}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
}
.navbar__s4{
    display: none;
}

/* My learning popup*/

.mylearning {
    position: relative;
}

.mylearning :hover {
    cursor: pointer;
    
}

.mylearning:hover .mylearning__popup {
    display: block;
}

.mylearning__popup {
    position: absolute;
    width: 150px;
    background-color: white;
    border: solid black 1px;
    border-radius: 10px;
    padding: 5px;
    top: 30px;
    left: 0px;
    display: none;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 10px;
    border-bottom: solid 1px black;
    padding: 10px;

}

.categories p {
    background-color: rgb(198, 5, 198);
    border-radius: 20px;
    padding: 10px;
    color: white;
    border: solid rgb(198, 5, 198) 1px;
}

.categories p:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(198, 5, 198);
    transition:  0.5s;
    transition-property: background-color,color;
    border: solid rgb(198, 5, 198) 1px;

}
.sale-image-offer:hover{
    background-color: transparent;
    transition-duration: 1s;
    transition-property:background-color;
}
.sale-image-offer {
    background-color: white;
    width: 30%;
    
    position: absolute;
    top: 50px;
    left: 50px;
    padding: 20px;
    border: solid black 1px;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes zoom{
    0%{
opacity: 0;
transform: scale(0);
    }
    100%{
transform: scale(1);
opacity: 1;
    }
}

.saleimage {
    position: relative;
    z-index: 1;
}

.saleimage img {
    width: 100%;
}

.recommended {
    padding: 10px;

}

.course-card {
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;

}

.course-card img {
    width: 100%;
    height: 150px;

}

.recommended__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics {
    padding: 10px;
}

.topics__container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;


}

.topics__container p {
    padding: 10px;
    border: solid black 2px;
    border-radius: 2px;
    flex-grow: 1;
    flex-basis: 25%;

}

.mostpopular__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    margin: 20px;
}

.footer {
    background-color: black;
    color: white;
}

.footer__one,
.footer__two {
    display: inline-block;
    margin: 20px;

}

.footer__one p,
.footer__two p {
    padding: 5px;
}

.footer__ender {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    padding-left: 0px;
    align-items: center;
}

/* media queries */
@media screen and (max-width:800px){
body{
    font-size: 10px;
}
}
/* moblie view */
@media screen and (max-width:600px){
.course-card{
    flex-basis: 40%;
}
.categories{
    display: none;
}
.navbar__s2, .navbar__s3{
    display: none;
}
.navbar__s4{
    display: block;
    font-size: 20px;
    font-weight: 100;
    color: rgb(198, 5, 198);
}
.sale-image-offer{
width: 20%;
font-size: 8px;
padding: 10px;
top: 20px;
left: 20px;
}
}